html, body{
	height: 100%;
	width: 100%;
	position: fixed;
}

body {
	position: fixed;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 900% 100%;
}

#header {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-family: "28 Days Later";
	font-size: 80px;
	opacity: 0.65;
	text-align: center;

}

#weapons {
	padding-top: 10px;
	position: center;
	width: 100%;
	margin-left: 10%;
	opacity: 0.6;
}
	
#rock {
	width: 23%;
	height: 30%;
	padding-right: 10px;
}

#paper {
	width: 25%;
	height: 35%;
	padding-right: 10px;
}

#scissors {
	width: 25%;
	height: 35%;
}