html, body{
	height: 100%;
	width: 100%;
	position: fixed;
}

body {
	position: fixed;
	background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
	background-size: 900% 100%;
}

#title {
	position: fixed;
	width: 100%;
	opacity: .6;
}

#weapons {

	padding-top: 27px;
	position: fixed;
	width: 100%;
	position: center;
	margin: 10%;
	opacity: 0.6;
}
	
#rock {
	width: 23%;
	height: 20%;
	padding-right: 10px;
}

#paper {
	width: 25%;
	height: 25%;
	padding-right: 10px;
}

#scissors {
	width: 25%;
	height: 25%;
}